# Dependencias
node_modules/

# Entorno y variables secretas
.env
.env.local
.env.development
.env.test
.env.production

# Archivos de registro (logs)
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# Reportes de pruebas (Testing)
coverage/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de editores e IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln